# SPDX-FileCopyrightText: © 2024 Sebastian Davids <sdavids@gmx.de>
# SPDX-License-Identifier: Apache-2.0

# https://git-scm.com/docs/gitattributes

*.pdf binary -eol -whitespace
*.ttf binary -eol -whitespace
